<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url"> jdbc:postgresql://squidward.cvpnvyccfzpf.us-east-2.rds.amazonaws.com </property>
        <property name="hibernate.connection.username">squidward</property>
        <property name="hibernate.connection.password">squidward</property>

        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>


        <!-- DEV/TEST ONLY -->
        <property name="format_sql">true</property> <!--print sql to console-->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- generate your table. this is going to take hbm file and change it to ddm-->
        <!-- DEV/TEST ONLY -->


        <!--add your squidward.com.squidward.beans here!-->
		<mapping class="squidward.com.squidward.beans.Project"/>
		<mapping class="squidward.com.squidward.beans.ProjectUser"/>
		<mapping class="squidward.com.squidward.beans.Sprint"/>
		<mapping class="squidward.com.squidward.beans.User"/>
		<mapping class="squidward.com.squidward.beans.UserStory"/>
		<mapping class="squidward.com.squidward.beans.UserStoryStatus"/>

    </session-factory>
</hibernate-configuration>